
# env
.env
.env.local

# frontend
node_modules/


# python
__pycache__/
*.pyc
.pytest_cache/

# logs
*.log

# otros
ehthumbs.db
Thumbs.db
*.sublime-project
*.sublime-workspace
*.komodoproject
*.sql
*.sqlite
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.venv
database.database
database.db
diagram.png
# ignore compiled files
